# Ignorar la carpeta de configutacion de VScode
.vscode

# Ignorar variables de configuracion
/config.php
.env
.htaccess

#no importar imagenes de usuarios
/assets/img/banners
/assets/img/candidates
/assets/img/companies
/assets/img/vacancies