.eye_icon {
   transition: all 0.3s ease-in-out;
}

.eye_icon:hover {
   cursor: pointer;
   color: blue;
}

.form-floating i.eye_icon {
   position: absolute;
   top: 50%;
   right: 30px;
   transform: translateY(-50%);
}

.input-icon {
   position: relative;
}

.input-icon i.eye_icon {
   position: absolute;
   top: 50%;
   right: 30px;
   transform: translateY(-50%);
   background-color: blue;
}

.input-icon img {
   position: absolute;
   top: 50%;
   right: 30px;
   height: 35px;
   transform: translateY(-50%);
}