@import url(normalize.css);
@import url(bannerList.css);

/* --------------------------------SCROLLBAR------------------------------------------ */
/*font-family: 'Poppins', sans-serif;*/
*{
   --color--scroll: #2aa549;
   --color--bg--scroll: #343A40;
   /* --color--bg--scroll: #D6D8D9; */
}
/* Works on Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: var(--color--scroll) var(--color--bg--scroll);
 }

 /* Works on Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
   width: 12px;
 }

 *::-webkit-scrollbar-track {
   background: var(--color--bg--scroll);
 }

 *::-webkit-scrollbar-thumb {
   background-color: var(--color--scroll);
   border-radius: 15px;
   /* border: solid var(--color--scroll); */
 }


 #div_paquetes::-webkit-scrollbar {
  width: 5px;
}
 #div_paquetes::-webkit-scrollbar-thumb {
  background-color: var(--color--scroll);
  border-radius: 5px;
}
/* --------------------------------SCROLLBAR------------------------------------------ */
body, html {
   background-color: #F4F6F9;
}

.wrapper, body, html {
    min-height: 94% !important;
    height: 94% !important;
}


tr td {
   vertical-align: middle;
}




.eye_icon {
   transition: all 0.3s ease-in-out;
}

.eye_icon:hover {
   cursor: pointer;
   color: green;
   /* color: blue; */
}

.form-floating i.eye_icon {
   position: absolute;
   top: 50%;
   right: 30px;
   transform: translateY(-50%);
}

.input-icon {
   position: relative;
}

.input-icon i.eye_icon {
   position: absolute;
   top: 50%;
   right: 30px;
   transform: translateY(-50%);
}

.input-icon img {
   position: absolute;
   top: 50%;
   right: 30px;
   height: 35px;
   transform: translateY(-50%);
}


body {
   font-size: 16px !important;
}

.body-login {
   margin: 0;
   padding: 0;
   background-color: #F2F2F2;
   /*background-color: rgb(203 41 41 / 0.80);*/
   filter: blur(5);
}
#card_registro {
   display: none;
}

.opacity-100 { opacity: 1;}
.pointer { transition: all 0.3s ease-in-out; }
.pointer:hover { cursor: pointer; transform: scale(1.1); }

.pointer-sm { transition: all 0.2s ease-in-out; opacity: 0.7 }
.pointer-sm:hover { cursor: pointer; transform: scale(1.01); opacity: 1; }

.border-only-bottom {
   border: none;
   border-radius: 0;
   border-bottom: 1px solid #c0c1c1;
   width: 75%;
}

a { color: #2aa549; }
a:hover { color: #0c7827; }

.content-index, #vacancy_container {
   max-height: 75vh !important; /* 75vh */  /* 88.8vh */
   overflow-y: auto;
   overflow-x: hidden;
}



.card-detail {
   border: 5px solid #0c7827;
   border-radius: 20px;
   max-height: 75vh;
}
.scroll-y {
   overflow-y: auto;
}
.card-detail *::-webkit-scrollbar {
   width: 6px;
}

.card_vacancy_selected {
   border: 5px solid #0c7827;
   border-radius: 10px;
   opacity: 1;
   font-weight: bold;
   transform: scale(1.05) !important;
}

.select2-selection__choice {
   background-color: #0c7827 !important;
   border-color: #0c7827 !important;
   color: whitesmoke !important;
}


.link-dialog {
   z-index: 1100 !important;
}
.link-dialog .modal-dialog{
   top: 50vh;
   transform: translateY(-50%) !important;
}
.modal-backdrop {
   z-index: 1019 !important;
}

.text-mini {
   font-size: 12px !important;
   font-style: italic;
}
#vacancy_container ::-webkit-scrollbar {
   width: 4px !important;
}

.widget-user .widget-user-image > img {
   height: 100px !important;
   width: 100px !important;
   object-fit: contain;
}

.card-pdf {
   height: 62vh !important;
   /* max-height: 50%; */
}
/* 
.sticky-top {
   top: 6.5%;
}
*/
.pt_sm_5{
   top: 0%;
}


/* .index-height {
   max-height: 50vh !important;
   overflow-y: hidden !important;
} */

.form-control-border-white {
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-radius: 0;
   box-shadow: inherit;
   border-color: white;
   background: transparent;
}
.form-control-border {
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-radius: 0;
   box-shadow: inherit;
   border-color: black;
   color: black !important;
   background: transparent;
}

.div-banners-complete {
   /* height: 15vh;
   width: 98.5%; */
   width: 97%;
   height: 40vh;
   margin-inline: auto;
   /* border: 2px solid black; */
   /* position: absolute;
   bottom: 50px; */
   /* background-color: #c0bfbf18; */
}
.div-banners {
   height: 10vh;
   width: 98.5%;
   position: absolute;
   bottom: 0;
   /* background-color: #c0bfbf18; */
   background-image: url(../assets/img/logo_gomez_palacio.png);
   background-position: left;
   background-size: 15%;
   background-repeat: no-repeat;
   background-attachment: scroll;
}

.swiper {
   /* width: 600px; */
   height: 100%;
}

.img-carrusel {
   /* object-fit: cover !important;
   overflow: hidden !important; */
   max-width: 85%; /* 100%; */
   height: auto;
   max-height: 96%;
}

/* .navbar-collapse .nav-item {
   marker: none !important;
   text-decoration: none !important;
}
.navbar-collapse .nav-item::before {
   display: none !important;
   marker: none !important;
   text-decoration: none !important;
}
.navbar-collapse .nav-item::marker {
   display: none !important;
} */

 
/* @media screen and (max-width: 1270) {
   .img-carrusel {
      max-width: 80%;
   }
} */
.swiper-button-next:after, .swiper-button-prev:after {
   font-weight: bolder;
}

#img-logo-menu {
   height:120px;
}

#content-wrapper-index {
   background-image: url(../assets/img/logo_gomez_palacio.png);
   background-position: center;
   background-size: auto;
   background-repeat: no-repeat;
   background-clip: border-box;
   background-attachment: fixed;
}


@media screen and (max-width: 990px) {
   #img-logo-menu {
      height:60px;
   }
}

@media screen and (max-width: 800) {
   .div-banners-complete {
      width: 65%;
   }
   .div-banners {
      height: 12vh;
   }
}


@media screen and (max-width: 767px) {
   .sticky-top {
      top: 10%;
   }
   /* .pt_sm_10{
      margin-top: 10%;
   } */
   .content-index, #vacancy_container, .card-detail {
      max-height: 60vh !important; /* 88.8vh */ 
   }

   .div-banners-complete {
      width: 60%;
      height: 92%;
   }
   
   .div-banners {
      height: 10.5vh;
   }

   .swiper-button-next:after, .swiper-button-prev:after {
      font-size: 20px;
      font-weight: bolder;
   }
   /* .img-carrusel {
      width: 75vw;
   } */
}
@media screen and (max-width: 720px) {
   /* .pt_sm_10{
      margin-top: 15%;
   } */

   /* .div-banners-complete {
      height: 7.5vh;
   } */
   .div-banners {
      height: 7.5vh;
   }
}
@media screen and (max-width: 550px) {
   .wrapper{
      top: 2% !important;
   }

   .content-index, #vacancy_container, .card-detail {
      max-height: 52vh !important; /* 88.8vh */ 
   }
   .div-banners-complete {
      height: 30vh;
   }
}